body {
    background-color: #2b2a33;
    color: white;
    font-family: Kanit;
}

#search {
    width: 100%;
    height: 100%;
    background-color: #42414d;
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}
#search:focus{outline: none;}
.results {
    background-color: #42414d;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    border: solid white 1px;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#site-icon {
    height: 100%;
}